# Users Data Set cleaning

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
users=pd.read_csv("users.csv")

In [3]:
users.head(10)

,user_id,name,email,age,country,date
0,15000,James Scott,james.scott660@gmail.com,35,India,2024-11-01
1,15001,Sharon Ferrell,sharon.ferrell49@gmail.com,26,Australia,2024-11-01
2,15002,Chelsea Ortiz,chelsea.ortiz643@gmail.com,38,United Kingdom,2024-11-01
3,15003,Gregory Pearson,gregory.pearson379@gmail.com,52,United Kingdom,2024-11-01
4,15004,Connie Gonzales,connie.gonzales481@gmail.com,43,Australia,2024-11-01
5,15005,Kelly Fields,kelly.fields561@gmail.com,20,United States,2024-11-01
6,15005,Kelly Fields,kelly.fields561@gmail.com,20,United States,2024-11-01
7,15006,Kristina Thomas,kristina.thomas827@gmail.com,151,Australia,2024-11-01
8,15007,Lisa Rodriguez,lisa.rodriguez336@gmail.com,19,United Kingdom,2024-11-01
9,15008,Scott Martinez,scott.martinez177@gmail.com,33,France,2024-11-01

In [4]:
users.shape

(2051, 6)

In [6]:
users.drop_duplicates(inplace=True)

In [7]:
users.shape

(2010, 6)

In [8]:
users['age'].value_counts()

age
 20     105
 19     105
 21      99
 18      89
 17      86
 22      83
 23      75
 31      69
 26      67
 29      66
 25      64
 32      63
 36      60
 27      59
 30      58
 35      54
 39      53
 24      50
 37      48
 34      45
 28      44
 38      43
 33      42
 42      38
 44      38
 45      37
 40      36
 43      36
 41      34
 50      29
 49      29
 48      28
 47      28
 46      28
 57      13
 59      12
 52      11
 54      11
 53      11
 58      10
 60      10
 51       9
 56       6
 55       6
 0        5
 153      5
 152      4
 154      3
 151      3
-5        3
Name: count, dtype: int64